usci/modules/cli/src/main/resources/credit-registry.xsd

<?xml-stylesheet type="text/xsl" href="xs3p.xsl" encoding="UTF-8" version="1.0"?>
<!-- edited with XMLSpy v2011 (x64) (http://www.altova.com) by Alexandr (Ru-Board) -->
<!--- 
*************************************
Удалён тег "pledgers" (и все вложенные теги) из тегов "pledge", "person", "organization". 
Удалён аттрибут "subject_type" из тега "subject". Кратность тега "subject" изменена на 1-1.
Исправлены орфографические ошибки:
turnover -> issue,
credit -> interest_rate_yearly,
person-> names -> name-> firstname, person-> names -> name-> lastname, person-> names -> name-> middlename
Дата модификации: 06-02-2012 
Автор: Дмитрий Закомирный (dmitriy.zakomirnyy@bsbnb.kz)
******************************************
Добавлен аттрибут "no" в тэг "package".
Дата модификации: 16-02-2012
Автор: Дмитрий Закомирный (dmitriy.zakomirnyy@bsbnb.kz)
******************************************
Аттрибут "credit_type" в тэге credit. Аттрибута изменен на необязательный.
Дата модификации: 27-02-2012
Автор: Дмитрий Закомирный (dmitriy.zakomirnyy@bsbnb.kz)
******************************************
Добавлен тэг "discounted_value" в тэг "portfolio_flow_msfo"
Дата модификации: 02-03-2012
Автор: Дмитрий Закомирный (dmitriy.zakomirnyy@bsbnb.kz)
******************************************
Тег primary_contract перенесен из тега credit в тег package и сделан обязательным.
Тег contract перенесен из тега package в тег credit и сделан не обязательным.
Дата модификации: 14-03-2012
Автор: Александр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Добавлен тип данных st_percent_interest_rate_yearly.
Удалены уникальные проверки на тип документа.
Следующие теги теперь являются не обязательными: 
1. batch\packages\package\credit\portfolio\portfolio;
2. batch\packages\package\credit\portfolio\portfolio_msfo;
3. batch\packages\package\change\credit_flow\provision\balance_account;
4. batch\packages\package\change\credit_flow\provision\balance_account_msfo;
5. batch\packages\package\change\credit_flow\provision\value;
6. batch\packages\package\change\credit_flow\provision\value_msfo;
Дата модификации: 24-04-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Следующие теги теперь являются не обязательными;
1. batch/packages/package/change/remains/debt/current/balance_account;
2. batch/packages/package/change/remains/debt/pastdue/balance_account;
3. batch/packages/package/change/remains/debt/write_off/balance_account;
4. batch/packages/package/change/remains/interest/current/balance_account;
5. batch/packages/package/change/remains/interest/pastdue/balance_account;
6. batch/packages/package/change/remains/correction/balance_account;
7. batch/packages/package/change/remains/discount/balance_account;
8. batch/portfolio_flows/portfolio_flow/balance_acсount;
9. batch/portfolio_flows/portfolio_flow_msfo/balance_account;
10. batch/packages/package/change/remains;
11. batch/packages/package/change/remains/debt/pastdue/open_date;
12. batch/packages/package/change/remains/interest/pastdue/open_date.
Изменен тип st_string, в маску включены символы *%«»&
Дата модификации: 26-04-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Изменена обязательность следующих полей:
1. batch/packages/package/subjects/subject/person/docs
2. batch/packages/package/subjects/subject/organization/docs
3. batch/packages/package/pledges/pledge/contract
4. batch/packages/package/pledges/pledge/value
5. batch/packages/package/subjects/subject/organization/is_se
Дата модификации: 16-05-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Следующие поля вновь сделаны обязательными:
1. batch/packages/package/subjects/subject/person/docs
2. batch/packages/package/subjects/subject/organization/docs
Дата модификации: 31-05-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
1. Тип элемента ct_contact изменен с xsd:string на st_contact_details
2. Тип st_subject_name переименован в st_person_name
3. Установлена минимальная и максимальная длина строки для типа st_person_name 1 и 100 соответственно.
4. Создан тип st_contract_no с минимальным и максимальным количеством символов 1 и 100 соответственно, наследуемый от типа st_string.
5. Создан тип st_doc_no с минимальным и максимальным количеством символов 1 и 50 соответственно, наследуемый от типа st_string.
6. Создан тип st_doc_name с минимальным и максимальным количеством символов 1 и 100 соответственно, наследуемый от типа st_string.
7. Создан тип st_address_details с минимальным и максимальным количеством символов 1 и 500 соответственно, наследуемый от типа st_string.
8. Создан тип st_contact_details с минимальным и максимальным количеством символов 1 и 100 соответственно, наследуемый от типа st_string.
9. Создан тип st_organization_name с минимальным и максимальным количеством символов 1 и 200 соответственно, наследуемый от типа st_string.
Дата модификации: 12-06-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz) 
******************************************
1. Изменено регулярное выражение для типа st_person_name (добавлен символ апостроф).
2. Добавлен тип ct_remains_type_limit для отображения остатка лимита кредитной карты/овердрафта
3. Изменен тип ct_creditor для возможности отображения кода БВУ/НО.
Дата модификации: 24-07-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Следующие поля сделаны не обязательными:
1. batch/packages/package/subjects/subject/organization/head

Также внесены изменения, касаемые всех заполняемых денежных значений: все остатки кроме остатка "Положительная/отрицательная корректировка" 
должны быть не отрицательными; все денежные значения (остатки, обороты, провизии) должны быть только целыми числами. 

Список добавленных типов:
1. Добавлены простые типы st_value, st_non_negative_value, st_non_positive_value;
2. Добавлены сложные типы ct_remains_type_non_negative_base, ct_remains_type_account_non_negative_base;

Изменен тип с st_decimal на st_value следующих элементов:
1. batch/packages/package/change/remains/correction/value;
2. batch/packages/package/change/remains/correction/value_currency;
3. batch/packages/package/change/remains/discounted_value/value;
4. batch/packages/package/change/credit_flow/provision/value;
5. batch/packages/package/change/credit_flow/provision/value_msfo;
6. batch/portfolio_flows/portfolio_flow/value;
7. batch/portfolio_flows/portfolio_flow_msfo/value;

Изменен тип с st_decimal на st_non_negative_value следующих элементов:
1. batch/packages/package/change/remains/debt/current/value;
2. batch/packages/package/change/remains/debt/current/value_currency;
3. batch/packages/package/change/remains/debt/pastdue/value;
4. batch/packages/package/change/remains/debt/pastdue/value_currency;
5. batch/packages/package/change/remains/debt/write_off/value;
6. batch/packages/package/change/remains/debt/write_off/value_currency;
7. batch/packages/package/change/remains/interest/current/value;
8. batch/packages/package/change/remains/interest/current/value_currency;
9. batch/packages/package/change/remains/interest/pastdue/value;
10. batch/packages/package/change/remains/interest/pastdue/value_currency;
11. batch/packages/package/change/remains/interest/write_off/value;
12. batch/packages/package/change/remains/interest/write_off/value_currency;
13. batch/packages/package/change/remains/discount/value;
14. batch/packages/package/change/remains/discount/value_currency;
15. batch/packages/package/change/remains/limit/value;
16. batch/packages/package/change/remains/limit/value_currency;
17. batch/packages/package/change/turnover/issue/debt/amount;
18. batch/packages/package/change/turnover/issue/debt/amount_currency;
19. batch/packages/package/change/turnover/issue/interest/amount;
20. batch/packages/package/change/turnover/issue/interest/amount_currency;

Дата модификации: 27-07-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Список добавленных типов:
1. Добавлены простые типы  st_negative_value, st_positive_value;

Изменен тип с st_decimal на st_positive_value следующих элементов:
1. batch/packages/package/credit/amount;
2. batch/packages/package/pledges/pledge/value;

Изменен тип с st_decimal на st_non_negative_value следующих элементов:
1. batch/portfolio_flows/portfolio_flow_msfo/discounted_value;

Изменен тип с st_value на st_non_negative_value следующих элементов:
1. batch/portfolio_flows/portfolio_flow/value;
2. batch/portfolio_flows/portfolio_flow_msfo/value;
3. batch/packages/package/change/remains/discounted_value/value;
4. batch/packages/package/change/credit_flow/provision/value;
5. batch/packages/package/change/credit_flow/provision/value_msfo;

Дата модификации: 13-08-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
1. Устранена ошибка по типу st_person_name.
2. Добавлено поле batch/packages/package/pledges/pledge/contract/date.

Дата модификации: 14-08-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
1. Тип элемента ct_remains_type_discount изменен с ct_remains_type_account_non_negative_base на ct_remains_type_account_base
2. Удалено поле batch/packages/package/pledges/pledge/contract/date.

Дата модификации: 15-08-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Изменен тип с st_positive_value на st_non_negative_value следующих элементов:
1. batch/packages/package/credit/amount;
2. batch/packages/package/pledges/pledge/value;

Дата модификации: 17-08-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Изменена обязательность следующих полей:
1. batch/packages.

Был переименован тег portfolio_flows (расположение batch/portfolio_flows) в portfolio_data (расположение batch/portfolio_data).
Также претерпели изменения следующие сложные типы: ct_portfolio_flow, ct_portfolio_flow_msfo.

Дата модификации: 12-09-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Внесены следующие изменения:
1. В тип st_string добавлены символ доллара ($), длинное тире (&mdash;), среднее тире (&ndash;).
2. В тип st_person_name добавлена возможность указания символа точки.

Дата модификации: 16-11-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Внесены следующие изменения:
1. В тип st_string добавлены символы квадратных [ ] скобок.

Дата модификации: 07-12-2012 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Внесены следующие изменения:
1. В тип ct_provision добавлены теги balance_account_msfo_over_balance и value_msfo_over_balance.

Дата модификации: 26-03-2013 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
******************************************
Внесены следующие изменения:
1. Добавлен новый сложный тип ct_remains_type_current_non_negative.
2. Добавлен новый сложный тип ct_remains_type_pastdue_non_negative.
3. Для тега batch/packages/package/change/remains/interest/current сменен тип на следующий ct_remains_type_current_non_negative.
4. Для тега batch/packages/package/change/remains/interest/pastdue сменен тип на следующий ct_remains_type_pastdue_non_negative.

Дата модификации: 16-04-2013 
Автор: Алесандр Мотов (alexandr.motov@bsbnb.kz)
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="batch">
		<xsd:annotation>
			<xsd:documentation>Корневой элемент "Пакетный файл"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="info">
					<xsd:annotation>
						<xsd:documentation>Информация</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="creditor"/>
							<xsd:element name="account_date" type="st_date">
								<xsd:annotation>
									<xsd:documentation>Учетная дата </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="report_date" type="st_date">
								<xsd:annotation>
									<xsd:documentation>Отчетная дата</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="actual_credit_count" type="xsd:positiveInteger">
								<xsd:annotation>
									<xsd:documentation>Количество действующих кредитов</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="packages" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Пакеты данных</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="package" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Пакет данных</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="ct_package"/>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:unique name="pack_no">
						<xsd:selector xpath="package"/>
						<xsd:field xpath="@no"/>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="portfolio_data" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Данные по однородным портфелям</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="portfolio_flow" type="ct_portfolio_flow_base" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Данные по однородному портфелю по требованиям  уполномоченного органа</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="portfolio_flow_msfo" type="ct_portfolio_flow_msfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Данные по однородному портфелю по требованиям МСФО</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:unique name="unique_portfolio_flow">
						<xsd:selector xpath="portfolio_flow"/>
						<xsd:field xpath="portfolio"/>
					</xsd:unique>
					<xsd:unique name="unique_portfolio_flow_msfo">
						<xsd:selector xpath="portfolio_flow_msfo"/>
						<xsd:field xpath="portfolio"/>
					</xsd:unique>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
	Global Complex Types
	-->
	<xsd:complexType name="ct_nullable_ref_numeric">
		<xsd:annotation>
			<xsd:documentation>Тип, используемый для обвертывания всех значений справочников.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="st_ref_code_numeric">
				<xsd:attribute name="nullify" type="xsd:boolean" use="optional" default="false"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ct_address">
		<xsd:annotation>
			<xsd:documentation>Тип "Адрес"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="region" minOccurs="0"/>
			<xsd:element name="details" type="st_address_details" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Дополнительная информация</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="st_address_type" use="required">
			<xsd:annotation>
				<xsd:documentation>Тип адреса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ct_contact">
		<xsd:annotation>
			<xsd:documentation>Тип "Контакт"</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="st_contact_details">
				<xsd:attribute ref="contact_type" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ct_contract_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Договор/дополнительное соглашение"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="no" type="st_contract_no">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_contract">
		<xsd:annotation>
			<xsd:documentation>Тип "Договор/дополнительное соглашение"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_contract_base">
				<xsd:sequence>
					<xsd:element name="date" type="st_date">
						<xsd:annotation>
							<xsd:documentation>Дата</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_doc">
		<xsd:annotation>
			<xsd:documentation>Тип "Документ"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="st_doc_name" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="no" type="st_doc_no">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute ref="doc_type" use="required"/>
	</xsd:complexType>
	<!--
	Global Complex Types (credit_flow)-->
	<xsd:complexType name="ct_provision">
		<xsd:annotation>
			<xsd:documentation>Тип "Провизии (резервы)"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="balance_account" type="st_ref_code_numeric" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер балансового счета, на котором отражена разница по провизиям (резервам), сформированного по требованиям МСФО и требованиям уполномоченного органа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="balance_account_msfo" type="st_ref_code_numeric" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер балансового счета по провизиям (резервам), сформированного по требованиям МСФО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="balance_account_msfo_over_balance" type="st_ref_code_numeric" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер балансового счета по провизиям (резервам), сформированного по требованиям МСФО по кредитным картам/овердрафту</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="st_non_negative_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Фактически сформировання сумма провизий (резервов) - по требованиям уполномоченного органа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value_msfo" type="st_non_negative_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Фактически сформировання сумма провизий (резервов) - по требованиям МСФО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value_msfo_over_balance" type="st_non_negative_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Фактически сформированная сумма провизий (резервов) - по требованиям МСФО по кредитным картам/овердрафту</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_credit_flow">
		<xsd:annotation>
			<xsd:documentation>Тип "Информация об освоении и обслуживании договора займа"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="classification" minOccurs="0"/>
			<xsd:element name="provision" type="ct_provision" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Провизии (резервы)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
	Global Complex Types (turnover)-->
	<xsd:complexType name="ct_turnover_amount">
		<xsd:annotation>
			<xsd:documentation>Тип "Сумма денежного оборота"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="amount" type="st_non_negative_value">
				<xsd:annotation>
					<xsd:documentation>Сумма оборота</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amount_currency" type="st_non_negative_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма оборота в валюте договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_turnover_type_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Детализация денежных оборотов. Изменения (необязательный)."</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="debt" type="ct_turnover_amount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Основной долг</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interest" type="ct_turnover_amount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вознаграждение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_turnover">
		<xsd:annotation>
			<xsd:documentation>Тип "Детализация денежных оборотов."</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="issue" type="ct_turnover_type_base" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Выдано/начислено</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
	Global Complex Types (remains)-->
	<xsd:complexType name="ct_remains_type_current_non_negative">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Текущая задолжность."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_non_negative_base"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_current">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Текущая задолжность."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_base"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_pastdue_non_negative">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Просроченная задолжность."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_non_negative_base">
				<xsd:sequence>
					<xsd:element name="open_date" type="st_date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата вынесения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="close_date" type="st_date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата погашения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_pastdue">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Просроченная задолжность."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_base">
				<xsd:sequence>
					<xsd:element name="open_date" type="st_date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата вынесения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="close_date" type="st_date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата погашения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_interest_write_off">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Списанная задолжность."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_non_negative_base">
				<xsd:sequence>
					<xsd:element name="date" type="st_date">
						<xsd:annotation>
							<xsd:documentation>Дата списания</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_debt_write_off">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток по основному долгу. Списанная задолжность."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_non_negative_base">
				<xsd:sequence>
					<xsd:element name="date" type="st_date">
						<xsd:annotation>
							<xsd:documentation>Дата списания</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_discount">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Дисконт/премия."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_base"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_correction">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Положительная/Отрицательная корректировка."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_base"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_discounted_value">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Дисконтированная (приведенная) стоимость будущих денежных потоков."</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="st_non_negative_value">
				<xsd:annotation>
					<xsd:documentation>Остаток</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_limit">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток. Лимит кредитной карты/овердрафта"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_account_non_negative_base"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток."</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="st_value">
				<xsd:annotation>
					<xsd:documentation>Остаток</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value_currency" type="st_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Остаток в валюте договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_non_negative_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Положительный остаток."</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="st_non_negative_value">
				<xsd:annotation>
					<xsd:documentation>Остаток</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value_currency" type="st_non_negative_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Остаток в валюте договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_account_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_base">
				<xsd:sequence>
					<xsd:element ref="balance_account" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains_type_account_non_negative_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Остаток."</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_remains_type_non_negative_base">
				<xsd:sequence>
					<xsd:element ref="balance_account" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_remains">
		<xsd:annotation>
			<xsd:documentation>Тип "Остатки"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="debt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Основной долг</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="current" type="ct_remains_type_current_non_negative" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Непросроченная задолженность</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="pastdue" type="ct_remains_type_pastdue_non_negative" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Просроченная задолженность</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="write_off" type="ct_remains_type_debt_write_off" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Списанная с баланса задолжность</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="interest" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вознаграждение</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="current" type="ct_remains_type_current" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Непросроченная задолженность</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="pastdue" type="ct_remains_type_pastdue" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Просроченная задолженность</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="write_off" type="ct_remains_type_interest_write_off" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Списанная с баланса задолжность</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="discount" type="ct_remains_type_discount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дисконт/премия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="correction" type="ct_remains_type_correction" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Положительная/Отрицательная корректировка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="discounted_value" type="ct_remains_type_discounted_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дисконтированная (приведенная) стоимость будущих денежных потоков</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="limit" type="ct_remains_type_limit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Лимит кредитной карты/овердрафта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
	Global Complex Types (pledge)-->
	<xsd:complexType name="ct_pledge_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Обеспечение" (базовый)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="pledge_type"/>
			<xsd:element name="contract" type="ct_contract_base" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Договор</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="st_non_negative_value" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Залоговая сумма</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_pledge">
		<xsd:annotation>
			<xsd:documentation>Тип "Обеспечение"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_pledge_base"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_pledges">
		<xsd:annotation>
			<xsd:documentation>Тип "Обеспечения"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pledge" type="ct_pledge" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Обеспечение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
	Global Complex Types
 (main)-->
	<xsd:complexType name="ct_credit_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Кредит" (базовый)</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="credit_type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ct_credit">
		<xsd:annotation>
			<xsd:documentation>Тип "Кредит"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_credit_base">
				<xsd:sequence>
					<xsd:element name="contract" type="ct_contract" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дополнительное соглашение</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="currency" minOccurs="0"/>
					<xsd:element name="interest_rate_yearly" type="st_percent_interest_rate_yearly" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Годовая ставка вознаграждения по договору, %</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contract_maturity_date" type="st_date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата погашения по договору</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="actual_issue_date" type="st_date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Фактическая дата выдачи </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="credit_purpose" minOccurs="0"/>
					<xsd:element ref="credit_object" minOccurs="0"/>
					<xsd:element name="amount" type="st_non_negative_value" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Сумма займа в валюте договора/Лимит кредитной линии, кредитной карты </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="finance_source" minOccurs="0"/>
					<xsd:element name="has_currency_earn" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Наличие валютной выручки у заемщика и/или инструментов хеджирования у заемщика </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="creditor_branch" type="ct_creditor" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Филиал БВУ/НО</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="portfolio" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Наименование однородного портфеля</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="portfolio" type="st_ref_code_numeric" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>По требованиям уполномоченного органа</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="portfolio_msfo" type="ct_nullable_ref_numeric" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>По требованиям МСФО</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_change">
		<xsd:annotation>
			<xsd:documentation>Тип "Изменения за период"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="turnover" type="ct_turnover" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Детализация денежных оборотов </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="remains" type="ct_remains" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Остатки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="credit_flow" type="ct_credit_flow" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Информация об освоении и обслуживании договора займа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maturity_date" type="st_date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата фактического погашения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prolongation_date" type="st_date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата окончания пролонгации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_package">
		<xsd:annotation>
			<xsd:documentation>Тип "Пакет данных"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="primary_contract" type="ct_contract">
				<xsd:annotation>
					<xsd:documentation>Договор</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="credit" type="ct_credit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Кредит</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subjects" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Субъекты</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="subject" type="ct_subject"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pledges" type="ct_pledges" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Обеспечения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="change" type="ct_change" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Изменения за отчетный период</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="operation_type" type="st_operation_type" use="required">
			<xsd:annotation>
				<xsd:documentation>Вид операции</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="no" type="xsd:positiveInteger" use="required"/>
	</xsd:complexType>
	<!--
	Global Complex Types (portfolio)-->
	<xsd:complexType name="ct_portfolio_flow_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Кредитный портфель (детализация)"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="portfolio"/>
			<xsd:element name="details">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="detail" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="balance_account" minOccurs="0"/>
									<xsd:element name="value" type="st_non_negative_value">
										<xsd:annotation>
											<xsd:documentation>Фактически сформировання сумма провизий (резервов) на весь портфель</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_portfolio_flow_msfo">
		<xsd:annotation>
			<xsd:documentation>Тип "Дисконтированная стоимость будущих денежных потоков/стоимость, ожидаемая к получению на портфельной основе"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_portfolio_flow_base">
				<xsd:sequence>
					<xsd:element name="discounted_value" type="st_non_negative_value">
						<xsd:annotation>
							<xsd:documentation>Дисконтированная стоимость будущих денежных потоков/стоимость, ожидаемая к получению на портфельной основе</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
	Global Complex Types (subject)-->
	<xsd:complexType name="ct_entity">
		<xsd:annotation>
			<xsd:documentation>Базовый тип для всех ролей</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="country"/>
			<xsd:element ref="offshore" minOccurs="0"/>
			<xsd:element name="bank_relations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признаки связанности с банком (небанковской организацией) особыми отношениями</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="bank_relation" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique_subject_bank_relation">
					<xsd:annotation>
						<xsd:documentation>Уникальность признаков связанности с банком особыми отношениями</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="bank_relation"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="addresses" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адреса</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="address" type="ct_address" maxOccurs="2"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique_subject_address_type">
					<xsd:annotation>
						<xsd:documentation>Уникальность на тип адреса</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="address"/>
					<xsd:field xpath="@type"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="contacts" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Контакты</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="contact" type="ct_contact" nillable="false" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_person_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Физическое лицо" (базовый)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="names">
				<xsd:annotation>
					<xsd:documentation>Ф.И.О.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Ф.И.О.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="firstname" type="st_person_name">
										<xsd:annotation>
											<xsd:documentation>Имя</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="lastname" type="st_person_name">
										<xsd:annotation>
											<xsd:documentation>Фамилия</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="middlename" type="st_person_name" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Отчество</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute ref="lang" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique_person_base_name_lang">
					<xsd:annotation>
						<xsd:documentation>Уникальность языка</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="name"/>
					<xsd:field xpath="@lang"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_person_identification_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Физическое лицо" (базовый для идентификации)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_person_base">
				<xsd:sequence>
					<xsd:element ref="country"/>
					<xsd:element name="docs">
						<xsd:annotation>
							<xsd:documentation>Документы</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:annotation>
								<xsd:documentation>Документы</xsd:documentation>
							</xsd:annotation>
							<xsd:sequence>
								<xsd:element ref="doc" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
						<xsd:unique name="unique_person_identification_base_doc_type">
							<xsd:annotation>
								<xsd:documentation>Уникальность типа документа</xsd:documentation>
							</xsd:annotation>
							<xsd:selector xpath="doc"/>
							<xsd:field xpath="@doc_type"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_person_head">
		<xsd:annotation>
			<xsd:documentation>Тип "Физическое лицо" (руководитель юридического лица/ИП)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_person_base">
				<xsd:sequence>
					<xsd:element name="docs" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Документы</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:annotation>
								<xsd:documentation>Документы</xsd:documentation>
							</xsd:annotation>
							<xsd:sequence>
								<xsd:element ref="doc" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_person">
		<xsd:annotation>
			<xsd:documentation>Тип "Физическое лицо"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_entity">
				<xsd:sequence>
					<xsd:element name="names">
						<xsd:annotation>
							<xsd:documentation>Ф.И.О.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="name" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Ф.И.О.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="firstname" type="st_person_name">
												<xsd:annotation>
													<xsd:documentation>Имя</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="lastname" type="st_person_name">
												<xsd:annotation>
													<xsd:documentation>Фамилия</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="middlename" type="st_person_name" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Отчество</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
										<xsd:attribute ref="lang" use="required"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
						<xsd:unique name="unique_person_name_lang">
							<xsd:annotation>
								<xsd:documentation>Уникальность языка</xsd:documentation>
							</xsd:annotation>
							<xsd:selector xpath="name"/>
							<xsd:field xpath="@lang"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="docs">
						<xsd:annotation>
							<xsd:documentation>Документы</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:annotation>
								<xsd:documentation>Документы</xsd:documentation>
							</xsd:annotation>
							<xsd:sequence>
								<xsd:element ref="doc" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_organization_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Юридическое лицо/ИП" (базовый)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="names">
				<xsd:annotation>
					<xsd:documentation>Наименования</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Наименование</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="st_organization_name">
										<xsd:attribute ref="lang" use="required"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique_organization_base_name_lang">
					<xsd:annotation>
						<xsd:documentation>Уникальность языка</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="name"/>
					<xsd:field xpath="@lang"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="docs">
				<xsd:annotation>
					<xsd:documentation>Документы</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation>Документы</xsd:documentation>
					</xsd:annotation>
					<xsd:sequence>
						<xsd:element ref="doc" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique_organization_base_doc_type">
					<xsd:annotation>
						<xsd:documentation>Уникальность типа документа</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="doc"/>
					<xsd:field xpath="@doc_type"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element ref="country"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct_organization">
		<xsd:annotation>
			<xsd:documentation>Тип "Юридическое лицо/ИП"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct_entity">
				<xsd:sequence>
					<xsd:element name="names">
						<xsd:annotation>
							<xsd:documentation>Наименования</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="name" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Наименование</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="st_string">
												<xsd:attribute ref="lang" use="required"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
						<xsd:unique name="unique_organization_name_lang">
							<xsd:annotation>
								<xsd:documentation>Уникальность языка</xsd:documentation>
							</xsd:annotation>
							<xsd:selector xpath="name"/>
							<xsd:field xpath="@lang"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="head" type="ct_person_head" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Руководитель</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="legal_form" minOccurs="0"/>
					<xsd:element name="docs">
						<xsd:annotation>
							<xsd:documentation>Документы</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:annotation>
								<xsd:documentation>Документы</xsd:documentation>
							</xsd:annotation>
							<xsd:sequence>
								<xsd:element ref="doc" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="enterprise_type" minOccurs="0"/>
					<xsd:element ref="econ_trade" minOccurs="0"/>
					<xsd:element name="is_se" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Признак ИП</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ct_subject_base">
		<xsd:annotation>
			<xsd:documentation>Тип "Субъект" (базовый)</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="person" type="ct_person_identification_base">
				<xsd:annotation>
					<xsd:documentation>Физическое лицо</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organization" type="ct_organization_base">
				<xsd:annotation>
					<xsd:documentation>Юридическое лицо</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="creditor"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ct_subject">
		<xsd:annotation>
			<xsd:documentation>Тип "Субъект"</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="person" type="ct_person">
				<xsd:annotation>
					<xsd:documentation>Физическое лицо</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organization" type="ct_organization">
				<xsd:annotation>
					<xsd:documentation>Юридическое лицо</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="creditor"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ct_creditor">
		<xsd:annotation>
			<xsd:documentation>Тип "БВУ/НО"</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="code" type="st_ref_code_numeric">
				<xsd:annotation>
					<xsd:documentation>Код</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docs">
				<xsd:annotation>
					<xsd:documentation>Документы</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation>Документы</xsd:documentation>
					</xsd:annotation>
					<xsd:sequence>
						<xsd:element ref="doc" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique_creditor_doc_type">
					<xsd:annotation>
						<xsd:documentation>Уникальность типа документа</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="doc"/>
					<xsd:field xpath="@doc_type"/>
				</xsd:unique>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
	Global Simple Types
	-->
	<xsd:simpleType name="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Тип для кодов справочника</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_currency_code">
		<xsd:annotation>
			<xsd:documentation>Тип для кодов справочника "Вид валюты"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_date">
		<xsd:annotation>
			<xsd:documentation>Тип Date</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:minInclusive value="1900-01-01"/>
			<xsd:maxExclusive value="2101-01-01"/>
			<!-- Минимальная дата -->
			<!-- Максимальная дата -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_decimal">
		<xsd:annotation>
			<xsd:documentation>Тип Decimal</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
			<!-- Максимальная длина (без знака дробной части) -->
			<!-- Длина дробной части -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_numeric_boolean">
		<xsd:annotation>
			<xsd:documentation>Тип Boolean</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<!-- False -->
			<!-- True -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_string">
		<xsd:annotation>
			<xsd:documentation>Тип String</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\w\-\\ .,&apos;/№():_+|&quot;@#?!;*%\p{Pi}\p{Pf}&amp;$—–\[\]]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_percent">
		<xsd:annotation>
			<xsd:documentation>Тип "Процент"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
			<!-- Максимальная длина (без символа дробной части) -->
			<!-- Длина дробной части -->
			<!-- Минимальное значение -->
			<!-- Максимальное значение -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_percent_interest_rate_yearly">
		<xsd:annotation>
			<xsd:documentation>Тип "Процент. Годовая ставка вознаграждения"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1000"/>
			<!-- Максимальная длина (без символа дробной части) -->
			<!-- Длина дробной части -->
			<!-- Минимальное значение -->
			<!-- Максимальное значение -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_person_name">
		<xsd:annotation>
			<xsd:documentation>Тип "Наименование (фамилия, имя, отчество). Физическое лицо"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
			<xsd:pattern value="(\p{L}+(('\p{L}+)|(-\p{L}+)|( \p{L}+)|(.( ){0,1}\p{L}+))*)|(.)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_contract_no">
		<xsd:annotation>
			<xsd:documentation>Тип "Номер договора"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_doc_no">
		<xsd:annotation>
			<xsd:documentation>Тип "Номер документа"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_doc_name">
		<xsd:annotation>
			<xsd:documentation>Тип "Наименование документа"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_address_details">
		<xsd:annotation>
			<xsd:documentation>Тип "Детальная информация по адресу"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_contact_details">
		<xsd:annotation>
			<xsd:documentation>Тип "Детальная информация по контакту"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_organization_name">
		<xsd:annotation>
			<xsd:documentation>Тип "Наименование. Юридическое лицо"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_value">
		<xsd:annotation>
			<xsd:documentation>Тип "Денежные значения"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
			<!-- Максимальная длина (без знака дробной части) -->
			<!-- Длина дробной части -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_negative_value">
		<xsd:annotation>
			<xsd:documentation>Тип "Отрицательные денежные значения"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_value">
			<xsd:maxExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_positive_value">
		<xsd:annotation>
			<xsd:documentation>Тип "Положительные денежные значения"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_value">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_non_negative_value">
		<xsd:annotation>
			<xsd:documentation>Тип "Не отрицательные денежные значения"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_value">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_non_positive_value">
		<xsd:annotation>
			<xsd:documentation>Тип "Не положительные денежные значения"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="st_value">
			<xsd:maxInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
	Global Simple Types
 (shared)-->
	<xsd:simpleType name="st_address_type">
		<xsd:annotation>
			<xsd:documentation>Тип "Тип адреса"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FA"/>
			<xsd:enumeration value="RA"/>
			<!-- Фактический -->
			<!-- Регистрационный -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_lang">
		<xsd:annotation>
			<xsd:documentation>Тип "Язык"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RU"/>
			<xsd:enumeration value="KZ"/>
			<xsd:enumeration value="EN"/>
			<!-- Русский язык -->
			<!-- Казахский язык -->
			<!-- Английский язык -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_operation_type">
		<xsd:annotation>
			<xsd:documentation>Тип "Вид операции"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="insert"/>
			<xsd:enumeration value="update"/>
			<!-- Добавление информации -->
			<!-- Изменение информации -->
		</xsd:restriction>
	</xsd:simpleType>
	<!-- 
	Global Elements
	-->
	<xsd:element name="doc" type="ct_doc">
		<xsd:annotation>
			<xsd:documentation>Документ</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--
	Global Elements (refernce book)
	-->
	<xsd:element name="balance_account" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Справочник "Номера балансовых счетов"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="bank_relation" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Справочник "Признак связанности с банком (небанковской организацией) особыми отношениями"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="classification" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Справочник "Классификационные категории"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="country" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Справочник "Страны"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="creditor" type="ct_creditor">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Справочник "БВУ/НО"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="credit_object" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Объект кредитования"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="credit_purpose" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Цель кредитования"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="currency" type="st_currency_code">
		<xsd:annotation>
			<xsd:documentation>Справочник "Вид валюты"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="econ_trade" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Отрасли экономики"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="enterprise_type" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Субъект частного предпринимательства"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="finance_source" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Источник финансирования"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="legal_form" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Организационно-правовая форма"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="offshore" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Оффшорные зоны"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="pledge_type" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Вид обеспечения"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="portfolio" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Наименование однородного портфеля"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="region" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Области"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="subject_type" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Тип субъекта"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--
	Global Attributes
	-->
	<xsd:attribute name="lang" type="st_lang">
		<xsd:annotation>
			<xsd:documentation>Язык</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<!--
	Global Attributes (refernce book)
	-->
	<xsd:attribute name="contact_type" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Вид связи"</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="credit_type" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Виды займов и условных обязательств"</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="doc_type" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Вид идентификационных документов"</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="subject_type" type="st_ref_code_numeric">
		<xsd:annotation>
			<xsd:documentation>Справочник "Роль субъекта"</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:schema>
